<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.localguide"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar">
     <activity android:name=".SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.localguideMainScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity android:name=".results">
	<intent-filter>
		<action android:name="android.intent.action.GET_RESULT"/>
		<category android:name="android.intent.category.DEFAULT"/>
	</intent-filter>
	<intent-filter>
		<action android:name="com.android.localguide.intent.action.GET_RESULT"/>
		<category android:name="android.intent.category.DEFAULT"/>
	</intent-filter>
</activity>

<activity android:name=".information"/>
<activity android:name=".results"/>
<activity android:name=".options2"/>
</application>
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest> 